<!DOCTYPE html>
<html>
  <head>
    <title><%= result[0].subject %> <%= result[0].course %> <%= result[0].title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= result[0].subject %> <%= result[0].course %> <%= result[0].title %></h1>
    <table>
        <tr>
            <th>Subject</th>
            <td><%= result[0].subject %></td>
        </tr>
        <tr>
            <th>Course</th>
            <td><%= result[0].course %></td>
        </tr>
        <tr>
            <th>Credits</th>
            <td><%= result[0].credits %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= result[0].description %></td>
        </tr>
    </table>
  </body>
</html>
